<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Wish List</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

      </ul>
    </div>
  </nav>